:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background: #f2f5ff;
  font-family: "Space Grotesk", "IBM Plex Sans", sans-serif;
}

#app {
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
